<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KVM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cs" connectionString="Server=localhost;Database=kvmart;Uid=root;Pwd=root;" />
    <add name="csusers" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=users.mdb;User Id=admin;Password=;"/>
  </connectionStrings>
  <applicationSettings>
    <KVM.Properties.Settings>
      <setting name="KV_Mart_wrTransact_Transact" serializeAs="String">
        <value>http://localhost:61258/Transact.asmx</value>
      </setting>
      <setting name="KV_Mart_wrSettings_MySettings" serializeAs="String">
        <value>http://localhost:61258/MySettings.asmx</value>
      </setting>
      <setting name="KV_Mart_wrProducts_Products" serializeAs="String">
        <value>http://localhost:61258/Products.asmx</value>
      </setting>
      <setting name="KV_Mart_wrPeoples_Peoples" serializeAs="String">
        <value>http://localhost:61258/Peoples.asmx</value>
      </setting>
    </KVM.Properties.Settings>
  </applicationSettings>
</configuration>